.cta-section {
  width: 100vw;
  background-color: #000;
  padding: 5em 2em;

  & .container {
    margin-inline: 2em;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    & .content {
      background: linear-gradient(125deg, #9f6eed, #fc907e, #9f6eed, #fc907e);
      background-size: 400% 400%;
      color: #fff;
      padding: 5em 1em;
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5em;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      animation: gradient 10s ease infinite;
      -webkit-animation: gradient 10s ease infinite;

      & p {
        text-align: center;
        max-width: 650px;
      }

      & h1 {
        text-align: center;
        margin-bottom: 1em;
        font-size: 3em;

        @media screen and (max-width: 930px) {
          font-size: 2em;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.5em;
        }
      }

      & button {
        background-color: #000;
        color: #fff;
        border: none;
        outline: none;
        padding: 15px 25px;
        font-weight: 600;
        font-size: 0.9em;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;

        &:hover {
          cursor: pointer;
          transform: scale(1.03);
          -webkit-transform: scale(1.03);
          -moz-transform: scale(1.03);
          -ms-transform: scale(1.03);
          -o-transform: scale(1.03);
        }
      }
    }

    & .contact {
      width: 50%;
      position: fixed;
      background-color: #f1e9fc;
      box-shadow: 0 0 0 100vh #4343439f;
      top: 50%;
      left: 50%;
      padding: 2em;
      border-radius: 20px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      @media screen and (max-width: 930px) {
        width: 75%;
      }

      @media screen and (max-width: 768px) {
        width: 90%;
      }

      & > img {
        height: 25px;
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
      }

      & h1 {
        text-align: center;
        @media screen and (max-width: 1024px) {
          font-size: 1.6em;
        }
      }

      & p {
        text-align: center;
        margin-block: 1em 1.5em;
      }

      & > input {
        width: 100%;
        background-color: #fff;
        border: none;
        outline: none;
        padding: 1.5em;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
      }

      & > div {
        margin-block: 1.5em 0.5em;
        width: 100%;

        &.login {
          font-weight: 600;
          font-size: 16px;
          text-align: center;

          & span {
            background: linear-gradient(125deg, #fc907e, #9f6eed);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            cursor: pointer;
          }
        }

        &.submit {
          display: flex;
          justify-content: center;

          & button {
            background: linear-gradient(150deg, #fc907e, #9f6eed);
            color: #fff;
            padding: 1.5em 2em;
            border: none;
            outline: none;
            font-weight: 600;
            width: fit-content;
            margin-inline: auto;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;

            &:hover {
              cursor: pointer;
              color: #000;
              background: linear-gradient(270deg, #fc907e, #9f6eed);
            }
          }
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
